
Resources/Faces/Train/Happy/

Resources/Faces/Train/Normal/

Resources/Faces/Train/Sad/

Resources/Faces/Train/Surprised/

Resources/Faces/Validation/Happy/

Resources/Faces/Validation/Normal/

Resources/Faces/Validation/Sad/

Resources/Faces/Validation/Surprised/

Resources/ignored/
